<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/mystyles.css">

  </head>

  <body>
    <div class="container">
      <div class="header">
        <span class="logo"></span>
      </div>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="js/jquery.js"></script>
    <script src="js/phoenix.js"></script>
    <script src="js/mychatter.js"></script>
  </body>
</html>
